*{
    margin : 0;
}
header{
    background-color: #E4AEC5;
    padding: 15px;
    text-align: center;
}
.judul{
    color: #000000;
    font-family: harland roselyn regular;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}
/* .menu1{
    background-color: #E4AEC5;
    justify-content: space-between;
} */
.menu2{
    background-color: #E4AEC5;
    justify-content: space-between;
    color: #000000;
    text-align: center;
    font-family: poppins;
    text-decoration: none;
    padding : 10px 15px;
}
.menu2:hover{
    color: white;
    transition: 250ms;
}
/* ====================================== */
.isi{
    background-color: #FFF6EA;
    padding : 20px 250px;
}
.bodi{
    text-align: center;
    font-size: 20px;
    font-family: poppins;
}
.about-us{
    padding-top: 10px;
    padding-bottom: 40px;
}
.vision{
    padding-top: 10px;
    padding-bottom: 40px;
}
.mission{
    padding-top: 10px;
    padding-bottom: 20px;
}
.gambar{
    margin: auto;
    width: 20px;
    padding-right: 570px;
}
/* ====================================== */
footer{
    background-color: #E4AEC5;
    display: flex;
    justify-content: space-between;
}
.kiri{
    padding-left: 50px;
    padding-top: 60px;
}
.find-us-more{
    padding-left: 33px;
    padding-bottom: 10px;
    font-family: poppins;
}
.sosmed{
    width: 40px;
    padding : 2px;
    cursor: pointer;
}
.utube{
    width : 50px;
    cursor: pointer;
}
.tengah{
    padding-top: 40px;
    text-align: center;
    font-family: poppins;
    list-style: none;
}
.contact:hover{
    cursor: pointer;
    color: white;
    transition: 250ms;
}
.kanan{
    padding-top: 40px;
    text-align: center;
    font-family: poppins;
    padding-right: 50px;
}
.dc{
    font-size: 10px;
    padding-bottom: 30px;
}
.copyr{
    font-size: 10px;
    text-align: right;
    padding-top: 80px;
    
}
.sub{
    font-size: 24;
    background-color: #E3337E;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}
.sub:hover{
    color: #000000;
    transition: 250ms;
}

